{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/sales_college_pbdb"
    },
    "cloudant": {
      "db": "https://ezurradoolonsellingesero:tTl6dvchKow8sNM4FG7qJ22Y@smorgart.cloudant.com/asdproject"
    }
  }
}